# TODO 1:

Joke Sharing API:
Develop an API that allows users to post jokes and retrieve random jokes from the collection. Users can submit jokes with categories or tags, and the API should have endpoints to filter jokes based on these categories. Each joke should have a text and a category. This project will give you experience in creating APIs that support both reading and writing operations.

Keep in mind that the complexity of the projects can vary depending on your familiarity with Django Rest Framework and web development in general. These ideas should be simple enough to complete within a day, but feel free to modify or expand them to suit your interests and learning goals. Happy coding!


1. user are able to create a joke.
2. users are able to retrieve random jokes from collection.
3. jokes have categories and users can submit jokes with categories.
4. jokes includes text and categories.

## MVP

1. Models
    title = Charfield
    text = Textfield
    categories = CharField(choices)

2. serilaizers
    Simple model serializer

2. views
    post:
        create a jokes

    get:
        random get the queries from the collection using random module.

    filter:
        based on categories.
