{% extends "base.html" %}

{% block doc_title %}ToDo | Homepage{% endblock doc_title %}

{% block content %}
<div class="mx-3 mt-5">
    <div class="row align-items-start">
      <div class="col-3">
        <div class="card shadow p-3 mb-5 bg-body rounded-3">
            <div class="card-header">
                Add ToDo
               </div>
               <form action="{% url 'todos' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="create_todo">
            <div class="card-body">
              <div class="mb-3">
                <label for="todo_name_id" class="form-label">ToDo Name</label>
                {{ form.todo_name }}
              </div>
              <div class="mb-3">
                <label for="todo_description_id" class="form-label">ToDo Description</label>
                {{ form.todo_description }}              
              </div>
              <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </div>
          </form>

          </div>

      </div>
      <div class="col">
        <div class="card shadow p-3 mb-5 bg-body rounded-3">
            <div class="card-header">
                <h3>ToDo Nation</h3>
               </div>
            <div class="card-body">
                
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">ToDo Name</th>
                        <th scope="col">Todo Description</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for object in objects %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ object.todo_name }}</td>
                        <td>{{ object.todo_description }}</td>
                        <td>{{ object.status }}</td>
                        <td>
                            <span class="px-1 cursor-pointer">
                                <i class="bi bi-pencil-square"></i>
                            </span>
                         <span class="px-1 cursor-pointer">
                            <i class="bi bi-trash"></i>
                        </span>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
          </div>
      </div>
    </div>
</div>
{% endblock content %}