{% extends "base.html" %}

{% block doc_title %}ToDo | Homepage{% endblock doc_title %}

{% block style %}
  .custom_btn_class{
    border: none;
    background-color: white;
  }
{% endblock style %}

{% block content %}
<div class="card mx-3 mt-3 shadow">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'todos' %}">ToDo Nation</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0" style="margin-left: auto;">
          
          <li class="nav-item dropdown me-2">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-start">
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>
</div>
<div class="mx-3 mt-5">
    <div class="row align-items-start">
      <div class="col-3">
        <div class="card shadow p-3 mb-5 bg-body rounded-3">
            <div class="card-header">
                Add ToDo
               </div>
               <form action="{% url 'todos' %}" method="post">
                {% csrf_token %}
                {% if action == 'edit_todo' %}
                  <input type="hidden" name="action" value="{{action}}">
                  <input type="hidden" name="todo_id" value="{{todo_id}}">
                {% else %}
                  <input type="hidden" name="action" value="create_todo">
                {% endif %}
                <div class="card-body">
                  {% comment %} Alert Message {% endcomment %}
                  {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert" id="myAlert">
                      {{ message }}
                    </div>
                    {% endfor %}
                  {% endif %}
                  {% comment %} End alert message {% endcomment %}
                  <div class="mb-3">
                    <label for="todo_name_id" class="form-label">ToDo Name</label>
                    {{ form.todo_name }}
                  </div>
                  <div class="mb-3">
                    <label for="todo_description_id" class="form-label">ToDo Description</label>
                    {{ form.todo_description }}              
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary" type="submit">{% if action == 'edit_todo' %} Update {% else %} Submit {% endif %}</button>
                  </div>
                </div>
          </form>

          </div>

      </div>
      <div class="col">
        <div class="card shadow p-3 mb-5 bg-body rounded-3">
            <div class="card-header d-flex flex-row">
                <h3>ToDo Nation</h3>
                <div class="d-flex" style="margin-left: auto;">
                <form class="" role="search" >
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success mt-1" type="submit">Search</button>
                </form>
              </div>
               </div>
            <div class="card-body">
                
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">ToDo Name</th>
                        <th scope="col">Todo Description</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for object in objects %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ object.todo_name }}</td>
                        <td>{{ object.todo_description }}</td>
                        <td>{{ object.status }}</td>
                        <td>
                          <div class="d-flex">
                          <div class="px-1">
                          <form action="{% url 'todos' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="fetch_todo">
                            <input type="hidden" name="todo_id" value="{{ object.todo_id }}">
                            <button type="submit" class="px-1 cursor-pointer custom_btn_class">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                          </form>
                        </div>
                          <div class="">
                          <form action="{% url 'todos' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="delete_todo">
                            <input type="hidden" name="todo_id" value="{{ object.todo_id }}">
                              <button type="submit" class="px-1 cursor-pointer custom_btn_class">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                        </div>
                      </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
          </div>
      </div>
    </div>
</div>
{% endblock content %}

{% block jsscript %}
<script>

  function removeAlert() {
    var alert = document.getElementById('myAlert');
    
    if (alert) {
      setTimeout(function() {
        alert.style.display = 'none';
      }, 5000); // 5000 milliseconds = 5 seconds
    }
  }
  
  // Call the function to remove the alert
  removeAlert();

</script>
{% endblock jsscript %}